<div class="container v-100 vh-100">

<div class="row pt-5">
  <div class="col-12">
    <div class="d-flex justify-content-between bg-white shadow-sm p-3 border">
      <h6 class="h6 text-muted">
        Total Time spent on your tasks that did not belong to any group
      </h6>
      <h6 class="h6">
        <%= current_user.format_duration(total_time_tasks(current_user, true)) %>
      </h6>
    </div>
  </div>
</div>
<% @external_tasks.each do |task| %>
  <div class="row my-3">
    <div class="col-12">
        <div class="media bg-white shadow-sm border p-2">
        <%= group_icon(task) %>
          <div class="media-body">
            <div class="d-flex justify-content-between pt-2"> <p class="m-0 p-0 text-muted"> <span class='font-weight-bold'>Name:</span>  <%= task.name%> </p> <p class="m-0 p-0"> <span class='font-weight-bold'>Duration:</span>  <%=  current_user.format_duration(task.amount) %> </p>  </div>
            <div class="d-flex justify-content-between pt-1"> <p class="m-0 p-0 text-muted"><span class='font-weight-bold'>Date of execution:</span> <%= task.created_at.strftime("%B, %d, %Y") %> </p> <p class="m-0 p-0 text-muted"><span class='font-weight-bold'> Group: </span><%=  task.group.name if task.group %> </p>   </div>
          </div>
        </div>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-12">
    <%= link_to "Add new", new_task_path, class: 'btn btn-success w-100'%>
  </div>
</div>

</div>