<!DOCTYPE html>
<html class='h-100'>
  <head>
    <title>Capstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  </head>

  <body class='h-100'>
    <%= restrict_header %>

    <div class="container-fluid bg-gray p-0 ">
    <%= render 'layouts/messages'%>

      <%= yield %>
 
    <div id="notice-chatss"></div></div>
    <%= render 'layouts/chat'%>
    </div>
  </body>
</html>
